mixin sAboutMenu(data)
	// start sAboutMenu
	+b.SECTION.sAboutMenu.section#sAboutMenu&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sAboutMenu
				
			+e.row.row
	// end sAboutMenu