mixin sAboutMenu(data)
	// start sAboutMenu
	+b.sAboutMenu.section#sAboutMenu&attributes(attributes)
		.container
			+e.row.row
				mixin item(i, h)
					+e.item(href="#")
						+icon(`sAboutMenu-${i}`)
						p!= h
				.col-md-6
					+item(1, `Цели и&nbsp;задачи`)
				.col-md-6
					+item(2, `План работы`)
	// end sAboutMenu