
mixin sGoals(data)
	// start sGoals
	+b.SECTION.sGoals.section#sGoals&attributes(attributes)
		.container
			+section-title(`О консорциуме`, `Цели деятельности Консорциума`)
				+e.descr Объединение российских производителей для выработки консолидированных инициатив по развитию производства медицинских изделий в Российской Федерации. Способствовать научно-технологическому развитию отечественной медицинской промышленности. Формирование экосистемы способствующей разработке новых медицинских изделий, их производству и сбыту.
			+e.grid
				+sGoalsItem(1, `Участие в нормативно-правовом совершенствовании механизма применения национального режима при осуществлении государственных и муниципальных закупок`, `link`)
				+sGoalsItem(3, `Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и их согласования с заинтересованными участниками рынка, в том числе с учетом среднесрочных и долгосрочных прогнозов развития отечественных технологических компетенций`, `link`)
				+sGoalsItem(2, `Организация технологической кооперации производителей медицинских изделий, комплектующих, компонентов для их производства`, `link`)
				
				+sGoalsItem(4, `Стандартизация медицинских изделий, компонентной базы их производства и расходных материалов`, `link`)
				+sGoalsItem(5, `Создание условий для увеличения доли отечественной медицинской техники и расходных материалов на внутреннем рынке`, `link`)
				+sGoalsItem(6, `Поддержка в развитии условий для экспорта медицинских техники`, `link`)

	// end sGoals