mixin sExpertCouncil(data)
	// start sExpertCouncil
	+b.SECTION.sExpertCouncil.section#sExpertCouncil&attributes(attributes)
		.container
			+e.wrap
				+listBlock(``, `Состав <br> экспертного совета`).pt-0
					+stagesList()
						li 
							p кандидаты медицинских наук
						li 
							p доктора медицинских наук
						li.active
							p профессора
						li 
							p врачи высшей категории
						li 
							p председатели профессиональных медицинских ассоциаций России
						li 
							p авторы научных работ, статей, публикаций, рационалистических предложений и патентов
				+listBlock(``, `Задачи <br> экспертного совета`)
					ul
						li Содействие усовершенствованию сферы обращения отечественных медицинских изделий
						li Формирование и&nbsp;подготовка передовых и&nbsp;актуальных предложений по&nbsp;разработке, развитию медицинской промышленности, технологий, логистики и&nbsp;реализации медицинских изделий российского производства
						li Формирование предложений по&nbsp;характеристикам медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения
						li Внесение предложений по&nbsp;стандартизации медицинских изделий, компонентной базы их&nbsp;производства и&nbsp;расходных материалов
						li Создание условий для увеличения доли отечественной медицинской техники и&nbsp;расходных материалов на&nbsp;внутреннем рынке
			+e.download
				.row
					.col-md
						p Скачайте положение об&nbsp;экспертном совете 
					.col-md-auto
						+download-link(`Положение об&nbsp;экспертном совете`, `PDF 2&nbsp;mb`).--light

	// end sExpertCouncil