mixin footer()
	+b.FOOTER.footer.section
		.container
			+e.row.row
				+e.col.col-sm-4.col-lg-3
					+e.logo(href="/")
						+img('img/svg/footer-logo.svg').img-svg-js
				.col-sm
					nav
						ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
							li.menu-item(itemprop="item" ) 
								a(href= "#" itemprop="url") О консорциуме
							li.menu-item(itemprop="item" ) 
								a(href= "#" itemprop="url") Члены консорциума
							li.menu-item(itemprop="item" ) 
								a(href= "#" itemprop="url") Деятельность
							li.menu-item(itemprop="item" ) 
								a(href= "#" itemprop="url") Рабочие группы
							li.menu-item(itemprop="item" ) 
								a(href= "#" itemprop="url") Контакты
							
				.col-sm-auto
					+e.contacts
						+e.btn.btn.btn-primary(href="#") Написать нам
						+e.adress 129366, г. Москва, проспект Мира, д.176
						+e.email(href="mailto:info@anokmt.ru") E-mail: info@anokmt.ru
			+e.bottom
				.row
					.col-sm-auto
						p &copy;&nbsp;2020&nbsp;АНО "Консорциум "Медицинская техника"
					.col-sm-auto
						a(href="#") Политика конфиденциальности
							

