mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6
					+e.headig
						+b.section-title.d-lg-none
							.h2 АНО &laquo;Консорциум &laquo;Медицинская Техника&raquo;

	// end sContact