// start .sContact
.sContact {
	--sPT: #{rem(27)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	@include media-breakpoint-down(lg) {
		--sTPB: #{rem(40)};
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	&__col {
		position: relative;
	}

	&__map-wrap {
		width: 100%;
		position: relative;
		z-index: 3;
		background-color: $light;
		@include media-breakpoint-down(lg) {
			@include block(214, 324);
			margin-bottom: rem(40);
		}
		@include media-breakpoint-up(lg) {
			position: absolute;
			width: calc(100% - var(--bs-gutter-x));
			height: 100%;
			left: calc(100% + var(--bs-gutter-x) / 2);
			top: 0;
			overflow: hidden;
		}
		& > * {
			height: 100%;
		}
	}
	.section-title {
		.h2 {
			color: $white;
			font-variation-settings: "wdth" 120, "GRAD" 0, "slnt" 0, "XTRA" 470, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712,
				"YTAS" 750, "YTDE" -203, "YTFI" 738, "opsz" 40;
			line-height: 125%;
			font-weight: 400;
			text-transform: none;
			@include media-breakpoint-down(xxl) {
				@include rfs(#{rem(32)}, font-size);
			}
		}
	}
	&__headig {
		position: relative;
		padding-bottom: rem(40);
		// margin-bottom: rem(40);
		@include media-breakpoint-up(lg) {
			padding-bottom: rem(56);
			margin-bottom: rem(56);
		}
		z-index: 2;
		color: $white;

		&::before {
			content: "";
			position: absolute;
			width: 150vw;
			height: calc(100% + #{rem(27)});
			left: -50vw;
			top: rem(-28);
			background-color: $primary;
			pointer-events: none;
			z-index: -1;
			@include media-breakpoint-down(lg) {
				height: calc(140% + #{rem(27)});
			}
		}
	}

	.form-wrap {
		max-width: 526px;
		&__policy {
			font-family: 'Golos Text', sans-serif;
			font-weight: 500;
			font-size: rem(13);
			line-height: 150%;
			a {
				&:not(:hover) {
					color: $danger;
				}
			}
		}
	}

	// &__col {
	// }
	// &__item {
	// }
	// &__slide {
	// 	height: auto;
	// }
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sContact
