mixin sBenefits(data)
	// start sBenefits
	+b.SECTION.sBenefits.section#sBenefits&attributes(attributes)
		.container
			+section-title(`Задачи деятельности Консорциума`, `Преимущества участия`)
			+e.content
				p Разработка индивидуального плана развития по&nbsp;достижению качественных характеристик медицинского изделия отечественного производства для предприятий-участников
				p Обеспечение достижения технологического суверенитета в&nbsp;отечественной медицинской промышленности Российской Федерации (Постановление Правительства Российской Федерации от&nbsp;15.04.2023&nbsp;N 603)
			+e.btn.btn.btn-primary(href="#") Подробнее
	// end sBenefits