:root {
	--animate-delay: 1.2s;
	--bs-body-font-size: calc(#{$em-base} * 0.8);
	--sPT: #{rem(62 * 0.8)};
	--sPB: #{rem(62 * 0.8)};
	--sTPB: #{rem(62 * 0.8)};

	@include media-breakpoint-up(md) {
		--sPT: #{rem(62 * 0.9)};
		--sPB: #{rem(62 * 0.9)};
		--sTPB: #{rem(62 * 0.9)};
		--bs-body-font-size: calc(#{$em-base} * 0.9);
	}

	@include media-breakpoint-up(xl) {
		--sPT: #{rem(62)};
		--sPB: #{rem(62)};
		--sTPB: #{rem(62)};
		--bs-body-font-size: #{$em-base};
	}

	.row {
		--bs-gutter-x: #{rem(20)};
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(24)};
		}
		@include media-breakpoint-up(xxl) {
			--bs-gutter-x: #{rem(32)};
		}
	}

	--fancybox-content-color: var(--bs-body-color);
	--swiperArrowSize: #{rem(68)};
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
	--swiperBorderColorDef: var(--bs-primary);
	--swiperColorDef: var(--bs-primary);
	--swiperBgDef: #ffffff;

	--swiperBorderColorDefHover: var(--bs-primary);
	--swiperColorDefHover: var(--bs-primary);
	--swiperBgDefHover: #ffffff;

	--fancybox-bg: rgba(24, 24, 27, 0.77);

	//  --carousel-button-width: 48px;
	//  --carousel-button-height: 48px;

	//  --carousel-button-svg-width: 24px;
	//  --carousel-button-svg-height: 24px;

	//  --carousel-button-svg-stroke-width: 2.5;
	//  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0/ 0.4));

	.air-datepicker {
		font-weight: 500;
		--adp-font-family: "Manrope";
		--adp-font-size: 13px;
		--adp-cell-background-color-selected: #0149d6;
		--adp-background-color-selected-other-month: #0149d6;
		--adp-background-color-selected-other-month-focused: #{rgba($color: #0149d6, $alpha: 0.7)};
		--adp-background-color-in-range: #{rgba($color: #0149d6, $alpha: 0.1)};
		--adp-background-color-in-range-focused: #{rgba($color: #0149d6, $alpha: 0.2)};
		--adp-cell-background-color-selected-hover: #{rgba($color: #0149d6, $alpha: 0.7)};
		--adp-cell-background-color-in-range: #{rgba($color: #0149d6, $alpha: 0.1)};
		--adp-cell-background-color-in-range-hover: #{rgba($color: #0149d6, $alpha: 0.2)};
		--adp-day-name-color: #E23737;
		--adp-color-current-date: #E23737;

		--adp-border-color: #D7D8E0;
    --adp-border-color-inner: #D7D8E0;
    --adp-border-radius: 0;
    --adp-border-color-inline: #D7D8E0;
	}
}

@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}

//
@include media-breakpoint-between(md, xl) {
}

//
@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

//
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}
