mixin sPlan(data)
	// start sPlan
	+b.SECTION.sPlan.section#sPlan&attributes(attributes)
		.container
			+section-title(``, `План работы на 2023 год`)
				+e.descr Основные мероприятия, направленные на&nbsp;совершенствование нормативно-правового регулирования обращения медицинских изделий на&nbsp;территории Российской Федерации
			+e.wrap
				ol
					li 
						+e.item 
							p «Стратегия развития медицинской промышленности Российской Федерации на период до 2030 года»
						
					li 
						+e.item 
							p Совершенствование механизма применения национального режима при осуществлении закупок медицинских изделий для обеспечения государственных и муниципальных нужд
						ol
							li
								+e.item 
									b Постановление Правительства Российской Федерации от 05.02.2015 № 102
									p «Об установлении ограничения допуска отдельных видов медицинских изделий, происходящих из иностранных государств, для целей осуществления закупок для обеспечения государственных и муниципальных нужд» в рамках исполнения ФЗ № 44 от 05.04.2013 «О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд»
							li
								+e.item 
									b Постановление Правительства Российской Федерации от 30.04.2020 № 616
									p «Об установлении запрета на допуск промышленных товаров, происходящих из иностранных государств, для целей осуществления закупок для государственных и муниципальных нужд, а также промышленных товаров, происходящих из иностранных государств, работ (услуг), выполняемых (оказываемых) иностранными лицами, для целей осуществления закупок для нужд обороны страны и безопасности государства»(оказываемых) иностранными лицами, для целей осуществления закупок для нужд обороны страны и безопасности государства»
							li 
								+e.item 
									b Постановление Правительства Российской Федерации от 10 июля 2019 № 878 
									p «О мерах стимулирования производства радиоэлектронной продукции на территории Российской Федерации при осуществлении закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд»
							li
								+e.item 
									b Постановление Правительства Российской Федерации от 8 февраля 2017 г. N 145 
									p «Об утверждении Правил формирования и ведения в единой информационной системе в сфере закупок каталога товаров, работ, услуг для обеспечения государственных и муниципальных нужд и Правил использования каталога товаров, работ, услуг для обеспечения государственных и муниципальных нужд»
							li
								+e.item 
									b Постановление Правительства Российской Федерации от 03.12.2020 № 2013 
									p «О минимальной доле закупок товаров российского происхождения», в рамках исполнения ФЗ от 18.07.2011 г. № 223 «О закупках товаров, работ, услуг отдельными видами юридических лиц»
									ol
										li Анализ и выявление нестыковок в закупочных документациях.
										li Проведение консультаций с представителями заинтересованных ведомств (Министерство финансов РФ, Министерство здравоохранения РФ).
										li Получение информации от Министерств здравоохранения субъектов Российской Федерации об исполнении квот.



	// end sPlan