mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.container.container
			+b.section-title
				h1 Достижение <br> технологического <br> суверенитета в&nbsp;отечественной медицинской промышленности
		+e.img-wrap
			+img('img/headerBlock-bg.jpg', 'bg')

	// end headerBlock