mixin sScheme(data)
	// start sScheme
	+b.SECTION.sScheme.section#sScheme&attributes(attributes)
		.container
			+section-title(``, `Реализация проекта по&nbsp;реновации парка медицинского оборудования`)
			+e.img-wrap.f-panzoom
				//- +img('img/sScheme.jpg')
				img(src='img/sScheme.jpg' alt='')

	// end sScheme