mixin sObjectives(data)
	// start sObjectives
	+b.SECTION.sObjectives.section#sObjectives&attributes(attributes)
		.container
			+section-title(``, `Задачи деятельности Консорциума`)
			+e.wrap
				+listBlock(`Совершенствование нормативно-правового регулирования обращения медицинских изделий на территории Российской Федерации:`).pt-0
					ul
						li Подготовка предложений в&nbsp;профильные Федеральные органы исполнительной власти Российской Федерации.
						li Формирование перечня требований к&nbsp;промышленной продукции, производимой на&nbsp;территории Российской Федерации, утвержденных 
							a(href="#") Постановлением Правительства Российской Федерации от&nbsp;17.07.2015 &#8470;&nbsp;719
						li Поэтапное включение информации об&nbsp;отечественной продукции в&nbsp;Государственную информационную систему промышленности и&nbsp;использование механизма 
							a(href="#") Постановления Правительства от&nbsp;10.07.2019 &#8470;&nbsp;878 для ограничения поставки импортной продукции
						li Участие в&nbsp;подготовке и&nbsp;реализации проекта 
							a(href="#") &laquo;Стратегии развития медицинской промышленности Российской Федерации на&nbsp;период до&nbsp;2030&nbsp;года&raquo;
				+listBlock(`Содействие в&nbsp;области развития производственной базы и&nbsp;реализации отечественной продукции на&nbsp;внутреннем и&nbsp;внешнем рынках (продвижение и&nbsp;импортозамещение медицинских изделий)`)
					ul
						li Участие в&nbsp;создании условий для увеличения доли отечественной медицинской техники и&nbsp;расходных материалов, востребованных на&nbsp;внутреннем и&nbsp;внешнем рынках
						li Разработка членами рабочих групп Консорциума стратегического проекта плана по&nbsp;оснащению и&nbsp;переоснащению медицинских учреждений отечественной медицинской техникой для субъектов Российской Федерации
						li Содействие Минздраву России в&nbsp;реализации задач, утвержденных распоряжением Правительства Российской Федерации от&nbsp;6&nbsp;октября 2021&nbsp;г. &#8470;&nbsp;2816-р &laquo;Перечень инициатив социально-экономического развития Российской̆ Федерации до&nbsp;2030&nbsp;года&raquo;, в&nbsp;которое включена инициатива &laquo;Медицинская наука для человека&raquo;
						li Создание в&nbsp;рамках деятельности Консорциума системы технологической кооперации с&nbsp;привлечением отечественных технологических лидеров в&nbsp;смежных отраслях
						li Содействие постановке на&nbsp;производство оборудования и&nbsp;расходных материалов к&nbsp;нему в&nbsp;рамках Консорциума с&nbsp;привлечением производственного ресурса предприятий оборонно-промышленного комплекса (в&nbsp;рамках программы диверсификации в&nbsp;интересах реализации Национальных проектов, в&nbsp;соответствии с&nbsp;Указом Президента РФ &#8470;&nbsp;204 от&nbsp;07.05.2018 &laquo;О&nbsp;национальных целях и&nbsp;стратегических задачах развития Российской Федерации на&nbsp;период до&nbsp;2024&nbsp;года&raquo;)
						li Организация взаимодействия предприятий оборонно-промышленного комплекса, специализирующихся на&nbsp;разработке и&nbsp;производстве электронной компонентной базы с&nbsp;производителями отечественной медицинской техники
						li Обеспечение взаимодействия производителей отечественной медицинской техники с&nbsp;якорными заказчиками
						li Участие в&nbsp;реализации &laquo;дорожной карты&raquo; &laquo;Национальная технологическая инициатива &laquo;Хелснет&raquo; от&nbsp;20&nbsp;декабря 2016&nbsp;года, определяющей долгосрочные технологические тенденции рынка до&nbsp;2035&nbsp;года:
							ol(type="a")
								li Цифровая медицина, фокусом которой является развитие телемедицины
								li Персональные медицинские помощники
								li Биомеханика (биоматериалы), включая создание экзоскелетов, роботизацию, печать органов на&nbsp;3d-принтерах для лечения онкологических и&nbsp;сердечно-сосудистых заболеваний
								li Превентивная медицина, осуществляющая раннюю диагностику заболеваний посредством повышения технологичности оборудования для in-vitro
								li Медицинская генетика, которая обуславливает спрос на&nbsp;оборудование для in-vitro диагностики, и&nbsp;позволяет контролировать генные мутации.
				+listBlock(`Систематизация перечней данных об&nbsp;объектах медицинских изделий для создания единого шаблона описания закупки их&nbsp;государственными и&nbsp;муниципальными заказчиками`)
					ul
						li Участие в&nbsp;разработке единой сквозной системы кодировки медицинских изделий ОКДП-2-НКМИ-КТРУ для идентификации типов изделия.
						li Организация работы по&nbsp;связке характеристик КТРУ с&nbsp;типовыми позициями по&nbsp;оснащению медицинских организаций, предусмотренных в&nbsp;Стандартах оснащения Минздрава России
						li Соотнесение информации платформы ГИСП из&nbsp;раздела медицинская промышленность с&nbsp;существующим КТРУ
						li Участие в&nbsp;разработке типового контракта полного жизненного цикла медицинских изделий
				+listBlock(`Содействие в&nbsp;предоставлении инвестиционной и&nbsp;организационной поддержки отечественным производителям медицинских изделий`)
					ul
						li Подготовка и&nbsp;внесение сквозных проектов в&nbsp;Минпромторг России для поддержки и&nbsp;развития высокотехнологичного производства отечественной промышленной продукции на&nbsp;предоставление финансовой и&nbsp;организационной поддержки
						li Формирование перечня инвестиционных проектов, инициируемых предприятиями-участниками Консорциума, реализация которых потенциально возможна с&nbsp;использованием финансовых инструментов Государственной корпорации развития ВЭБ.РФ при условии соответствия проектов требованиям ВЭБ.РФ
						li Формирование перечня инвестиционных проектов, инициируемых предприятиями-участниками Консорциума, реализации которых потенциально возможна с&nbsp;использованием финансовых инструментов ПАО &laquo;Промсвязьбанк&raquo; (ПСБ) и&nbsp;АО&nbsp;АКБ &laquo;Новикомбанк&raquo; при условии соответствия проектов требованиям ПСБ.
						li Содействие российским предприятиям во&nbsp;внедрении технологических решений мирового уровня с&nbsp;целью достижения конкурентоспособности отечественной продукции, а&nbsp;также содействие формированию и&nbsp;реализации на&nbsp;территории&nbsp;РФ проектов, направленных на&nbsp;локализацию производства технологий
				+listBlock(`Создание единой платформы медицинских изделий, производимых членами-участниками Консорциума`)
					ul
						li Формирование базы данных потребностей системы здравоохранения федерального и&nbsp;регионального уровней в&nbsp;текущих разработках и&nbsp;готовых решениях отечественных производителей, предложений поставщиков, материалов и&nbsp;комплектующих
				+listBlock(`Открытость Консорциума для позиционирования отечественной медицинской промышленности в&nbsp;практическом применении:`).pb-0
					ul
						li Повышение осведомленности научно-медицинского сообщества о&nbsp;качестве отечественной медицинской техники и&nbsp;медицинской промышленности.
						li Организация или участие в&nbsp;образовательных форумах с&nbsp;участием представителей органов государственной власти по&nbsp;линии здравоохранения, промышленности, малого и&nbsp;среднего бизнеса, ОПК, производителей техники, партнеров Консорциума, научного сообщества и&nbsp;представителей НИОКРов
	
	// end sObjectives



