extends ../layout/main.pug

include ../blocks/sExpertCouncil/_sExpertCouncil.pug
//- include ../blocks/sRoles/_sRoles.pug
//- include ../blocks/sMission/_sMission.pug
//- include ../blocks/sMeasures/_sMeasures.pug
include ../blocks/sForm/_sForm.pug
//- include ../blocks/sPartners/_sPartners.pug
//- include ../blocks/headerBlock/_headerBlock.pug
//- include ../blocks/sGoals/_sGoals.pug
//- include ../blocks/sBanner/_sBanner.pug
//- include ../blocks/sBenefits/_sBenefits.pug
//- include ../blocks/sNotice/_sNotice.pug
//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '11-expert-council.jpg'

block title
	- let  title= 'Экспертный совет'
	title= title
block pagecontent
	//- +mob-mnu()


	+parts('header')
	main
		+page-head(title, title)
		+sExpertCouncil()
		//- +sMission()
		//- +sMeasures()
		//- +sRoles()
		//- +sPartners()
		+sForm()

	+parts('footer')




