mixin sContent()
	// start sContent
	+b.sContent.section#sContent&attributes(attributes)
		.container
			+e.wrap
				+img('img/sContent-1.jpg')
				p В&nbsp;2022 году производители медицинского оборудования существенно продвинулись вперёд в&nbsp;подтверждении соответствия своей продукции критериям единого реестра радиоэлектронной промышленности. При этом подавляющее большинство российских производителей медицинского оборудования представляет собой предприятия полного цикла.
				p По&nbsp;словам Кирилла Литвицкого, генерального директора АНО &laquo;Консорциум &laquo;Медицинская техника&raquo;, за&nbsp;последние несколько лет значительно увеличился спрос на&nbsp;отечественное медицинское оборудование со&nbsp;стороны врачебного сообщества. Увеличение числа наименований видов медтехники и&nbsp;изделий, вошедших в&nbsp;новую редакцию постановления &#8470;&nbsp;719, позволит значительно увеличить долю отечественных производителей на&nbsp;рынке медицинского оборудования Российской Федерации.
				p Еще в&nbsp;2021 году Правительство Российской Федерации предлагало ввести балльную систему оценки страны происхождения медтехники и&nbsp;изделий. Систему планируется распространить на&nbsp;18&nbsp;видов высокотехнологичого медицинского оборудования, включая аппараты ИВЛ, компьютерные томографы, маммографы, рентгеновское оборудование, стерилизаторы, УЗИ, лабораторное оборудование для работы с&nbsp;ПЦР и&nbsp;др.
				p
				h5 Перечень с точками в новости
				ul
					li Подготовка предложений в профильные Федеральные органы исполнительной власти Российской Федерации.
					li Формирование перечня требований к промышленной продукции, производимой на территории Российской Федерации, утвержденных Постановлением Правительства Российской Федерации от 17.07.2015 № 719

					li Поэтапное включение информации об отечественной продукции в Государственную информационную систему промышленности и использование механизма Постановления Правительства от 10.07.2019 № 878 для ограничения поставки импортной продукции
					li Участие в подготовке и реализации проекта «Стратегии развития медицинской промышленности Российской Федерации на период до 2030 года»
				+e.btn.btn.btn-outline-primary(href="#")
					+icon('arrow-back')
					span Все новости
	// end sContent