mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			+e.row.row
				.col
					+e.logo(href="#")
						+img('img/svg/logo.svg').img-svg-js
				.col-auto.d-none.d-md-block
					+download-link(`Документы на вступление`, `PDF 3 mb`)
				.col-auto.d-lg-none
					+menu-toggle()

	// end topLine