mixin sMediaItem(img, g)
	+e.col.col-6.col-lg-3
		+e.item(href=`img/sMedia-${img}.jpg` data-fancybox=`sMedia-${g}`)
			+img(`img/sMedia-${img}.jpg`, 'bg')


mixin sMedia(data)
	// start sMedia
	+b.sMedia.section#sMedia&attributes(attributes)
		.container
			+e.album
				+e.title
					h4: span Название альбома в&nbsp;одну или две строки
					+e.date 29.04.2022
				.row
					- for (var x = 0; x < 5; x++)
						+sMediaItem(1, 1)
						+sMediaItem(2, 1)
						+sMediaItem(3, 1)
						+sMediaItem(4, 1)
						+sMediaItem(5, 1)
						+sMediaItem(6, 1)
						+sMediaItem(7, 1)
						+sMediaItem(8, 1)

			+e.album
				+e.title
					h4: span Название альбома в&nbsp;одну или две строки
					+e.date 29.04.2022
				.row
					+sMediaItem(1, 2)
					+sMediaItem(2, 2)
					+sMediaItem(3, 2)
					+sMediaItem(4, 2)

			+e.album
				+e.title
					h4: span Название альбома в&nbsp;одну или две строки для наглядности отображения длинных названий пример
					+e.date 29.04.2022
				.row
					- for (var x = 0; x < 3; x++)
						+sMediaItem(5, 3)
						+sMediaItem(6, 3)
						+sMediaItem(7, 3)
						+sMediaItem(8, 3)
						+sMediaItem(1, 3)
						+sMediaItem(2, 3)
						+sMediaItem(3, 3)
						+sMediaItem(4, 3)
			+e.btn-wrap.mt-0.justify-content-center
				+e.btn.btn.btn-primary(href="#") Показать еще
	// end sMedia