mixin sMission(data)
	// start sMission
	+b.SECTION.sMission.section#sMission&attributes(attributes)
		.container
			+section-title(``, `Миссия Консорциума`)
				+e.row.row
					.col-lg-9
						+e.descr Объединение российских производителей для выработки консолидированных инициатив по&nbsp;развитию производства медицинских изделий в&nbsp;Российской Федерации
					.col.col-lg
						+download-link(`Манифест`, `PDF 2&nbsp;mb`).--light
			+e.row.row
				.col-sm-6.col-lg-4
					+sGoalsItem(1, `Участие в&nbsp;нормативно-правовом совершенствовании механизма применения национального режима при осуществлении государственных и&nbsp;муниципальных закупок`)
				.col-sm-6.col-lg-4
					+sGoalsItem(2, `Организация технологической кооперации производителей медицинских изделий, комплектующих, компонентов для их&nbsp;производства`)
				.col-sm-6.col-lg-4
					+sGoalsItem(3, `Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка`)
				.col-sm-6.col-lg-4
					+sGoalsItem(4, `Участие в&nbsp;нормативно-правовом совершенствовании механизма применения национального режима при осуществлении государственных и&nbsp;муниципальных закупок`)
				.col-sm-6.col-lg-4
					+sGoalsItem(5, `Организация технологической кооперации производителей медицинских изделий, комплектующих, компонентов для их&nbsp;производства`)
				.col-sm-6.col-lg-4
					+sGoalsItem(6, `Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка`)

	// end sMission