.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.download-link {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	padding: rem(11) rem(21) rem(11) rem(67);
	color: $white;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px rem(22) rem(61) rgba(0, 0, 0, 0.13));
	border-radius: rem(8);
	text-decoration: none;
	&:hover {
		background-color: $white;
		.download-link__title {
			color: $body-color;
		}
		.download-link__subtitle {
			color: $gray-300;
		}
	}
	img,
	svg {
		@include a-cent(y);
		position: absolute;
		left: rem(20);
		max-width: rem(32);
		height: auto;
	}
	&__title {
		@include mt;
		font-weight: 600;
		font-size: rem(16);
		line-height: calc(19 / 16);
	}
	&__subtitle {
		@include mt;
		font-family: "Manrope";
		font-size: rem(13);
		line-height: calc(18 / 13);
	}
	&.download-link--light {
		border-color: #cccccc;
		.download-link__title {
			color: #3f457a;
		}
		.download-link__subtitle {
			color: $light-primary;
		}
		&:hover {
			background-color: $primary;
			.download-link__title {
				color: $white;
			}
			.download-link__subtitle {
				color: $white;
			}
		}
	}
}

.newsItem {
	display: flex;
	flex-direction: column;
	height: 100%;
	color: $body-color;

	&:hover {
		color: $link-hover-color;
		img {
			transform: scale(1.1);
		}
	}
	&__img-wrap {
		@include block(318, 416);
		margin-bottom: rem(26);
		overflow: hidden;
		@include media-breakpoint-up(xxl) {
			margin-bottom: rem(32);
		}
		img {
			@include mt;
		}
	}
	&__caption {
		@include roww(#{rem(24)}, 8px, m);
		display: flex;
		flex-wrap: wrap;
		font-family: "Manrope";
		font-weight: 500;
		font-size: 13px;
		line-height: 18px;
		margin-bottom: rem(16);
		@include media-breakpoint-up(xxl) {
			margin-bottom: rem(22);
		}
	}
	&__date {
		color: $gray-300;
	}
	&__topic {
		color: $body-color;
	}
	p {
		flex-grow: 1;
		font-variation-settings: "wdth" 109, "GRAD" 0, "slnt" 0, "XTRA" 470, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712,
			"YTAS" 750, "YTDE" -203, "YTFI" 738, "opsz" 14;
		@include media-breakpoint-up(xxl) {
			font-size: rem(24);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.page-head {
	background-color: $primary;
	padding-top: rem(16);
	padding-bottom: rem(16);
	@include media-breakpoint-up(sm) {
		padding-top: rem(22);
		padding-bottom: rem(22);
	}
	@include media-breakpoint-up(md) {
		padding-top: rem(30);
		padding-bottom: rem(30);
	}
	@include media-breakpoint-up(lg) {
		padding-top: var(--sPT);
		padding-bottom: rem(40);
	}
	@include media-breakpoint-up(xxl) {
		padding-top: rem(73);
	}
	h1 {
		color: $white;
		margin-bottom: rem(22);
	}
	.breadcrumb-slider {
		overflow: visible;
	}
}

.breadcrumb {
	--bs-breadcrumb-margin-bottom: 0;
	--bs-breadcrumb-font-size: #{rem(13)};
	--bs-breadcrumb-divider-color: var(--bs-white);
	--bs-breadcrumb-item-padding-x: #{rem(17)};
	--bs-breadcrumb-item-active-color: var(--bs-secondary-color);
	display: flex;
	flex-wrap: nowrap;
	font-family: "Manrope";
	.breadcrumb-item {
		width: auto;
		line-height: calc(18 / 13);
		// margin-right: rem(32);
		a {
			color: $white;
			display: inline-block;
			line-height: inherit;
			position: relative;
			&::after {
				content: "";
				@include mt(0.25s);
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				background-color: #fff;
				max-width: 0;
			}
			&:hover {
				&::after {
					max-width: 100%;
				}
			}
		}
		span {
			display: inline-block;
			line-height: inherit;
		}
		&.active {
			a {
				// color: $breadcrumb-active-color;
				pointer-events: none;
			}
		}
	}
}

.listBlock {
	padding: var(--sTPB) 0;
	border-bottom: 1px solid $light-primary;
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: calc(var(--bs-gutter-x) * 1.5);
	}
	&__title {
		font-family: "Manrope";
		font-style: normal;
		font-weight: 500;
		font-size: $h4-font-size;
		line-height: 125%;
		color: $primary;
	}
	&__subtitle {
		font-weight: 600;
		font-family: "Roboto Flex";
		color: $secondary;
	}
	ul {
		list-style: none;
		&:last-child {
			margin-bottom: 0;
		}
		& > li {
			position: relative;
			padding-left: rem(35);
			margin-bottom: rem(20);
			@include media-breakpoint-up(md) {
				padding-left: rem(40);
			}
			@include media-breakpoint-up(xl) {
				padding-left: rem(53);
				margin-bottom: rem(24);
			}
			&:last-child {
				margin-bottom: 0;
			}
			&::before {
				content: "";
				position: absolute;
				left: rem(6);
				top: rem(6);
				width: rem(17);
				height: rem(17);
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.25 2.16458C7.7141 1.89663 8.2859 1.89663 8.75 2.16458L13.1112 4.68252C13.5753 4.95047 13.8612 5.44566 13.8612 5.98156V11.0175C13.8612 11.5534 13.5753 12.0485 13.1112 12.3165L8.75 14.8344C8.2859 15.1024 7.7141 15.1024 7.25 14.8344L2.88878 12.3165C2.42468 12.0485 2.13878 11.5534 2.13878 11.0175V5.98156C2.13878 5.44566 2.42468 4.95047 2.88878 4.68252L7.25 2.16458Z' stroke='%230149D6' stroke-width='3'/%3e%3c/svg%3e ");
				background-position: center;
				background-size: 100%;
				@include media-breakpoint-up(xl) {
					left: rem(10);
				}
			}
			a {
				&:not(:hover) {
					color: $body-color;
					text-decoration: underline;
				}
			}
		}
		ol {
			color: $secondary;
			margin-top: rem(20);
			padding-left: 1.5em;
			@include media-breakpoint-up(lg) {
				margin-left: 4%;
			}
			@include media-breakpoint-up(xl) {
				margin-top: rem(24);
			}
			li {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.sGoalsItem {
	@include mt;
	display: flex;
	flex-direction: column;
	position: relative;
	color: $primary;

	// background-color: $light;
	height: 100%;
	// padding: rem(30);
	// font-size: rem(18);

	// @include media-breakpoint-only(md) {
	// 	font-size: rem(16);
	// }
	// @include media-breakpoint-up(xxl) {
	// 	font-size: rem(20);
	// 	padding: rem(34) rem(38);
	// }
	// &:hover {
	// 	background-color: $primary;
	// 	color: $white;
	// 	p,
	// 	a {
	// 		color: $white;
	// 	}
	// }
	// .icon {
	// 	font-size: rem(48);
	// 	margin-right: rem(32);
	// 	margin-bottom: rem(32);
	// 	flex-shrink: 0;
	// }
	svg {
		font-size: rem(48);
		margin-right: rem(32);
		margin-bottom: rem(32);
		flex-shrink: 0;
		& * {
			fill: currentColor;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		p {
			@include mt;
			margin-bottom: 1.15em;
			color: $body-color;
			flex-grow: 1;
			@include media-breakpoint-up(lg) {
				max-width: 23.4em;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			display: inline-block;
			font-weight: 600;
			font-size: rem(16);
			line-height: calc(19 / 16);
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
		}
	}
}

.stagesList {
	ol {
		list-style: none;
		counter-reset: num;
		padding-left: 0;
		margin-bottom: 0;
		li {
			position: relative;
			display: flex;
			align-items: center;
			overflow: hidden;
			padding-left: rem(120);
			min-height: rem(100);
			padding-top: rem(18);
			padding-bottom: rem(18);
			border-top: 1px solid $light-primary;
			@include media-breakpoint-up(md) {
				padding-left: rem(166);
				min-height: rem(141);
				padding-top: rem(25);
				padding-bottom: rem(25);
			}
			&:last-child {
				border-bottom: 1px solid $light-primary;
			}
			&:before {
				counter-increment: num;
				content: counter(num);
				position: absolute;
				font-variation-settings: $font-variation-bold;
				font-weight: 766;
				line-height: 1;
				text-transform: uppercase;
				color: $primary;
				opacity: 0.2;
				font-size: rem(120);
				left: rem(17);
				bottom: rem(-27);
				@include media-breakpoint-up(md) {
					font-size: rem(165);
					left: rem(24);
					bottom: rem(-38);
				}
			}
			p {
				margin-bottom: 0;
				max-width: 32.5em;
				@include media-breakpoint-down(md) {
					font-size: rem(16);
				}
			}
			&.active {
				// padding-left: rem(24);
				border-top: 2px solid $primary;
				border-bottom: 2px solid $primary;
				min-height: rem(150);
				padding-left: rem(136);
				@include media-breakpoint-up(md) {
					min-height: rem(208);
					padding-left: rem(189);
				}
				&:before {
					@include a-cent1(y);
					opacity: 1;
				}
				p {
					font-family: "Manrope";
					font-size: $h5-font-size;
					font-weight: 500;
					line-height: 125%;
					max-width: 26.1em;
				}
				& + li {
					border-top: none;
				}
			}
		}
	}
}
