mixin sBanner(data)
	// start sBanner
	+b.SECTION.sBanner.section#sBanner&attributes(attributes)
		.container
			+e.wrapper.bg-wrap
				+img('img/sBanner-bg.png')
				+b.section-title
					h2 Индустриальный <br> центр компетенций
					p партнер для отечественных производителей <br> медицинской техники
				+e.btn.btn.btn-light(href="#") Подробнее
	// end sBanner