mixin sIndustrialPartner(data)
	// start sIndustrialPartner
	+b.SECTION.sIndustrialPartner.section#sIndustrialPartner&attributes(attributes)
		.container
			+section-title(``, `Индустриальный партнер для отечественных производителей медицинской техники`)
				+e.descr Объединяет на&nbsp;своей площадке отечественных разработчиков и&nbsp;производителей медицинской техники, представителей врачебного и&nbsp;клинического сообщества на&nbsp;базе государственных и&nbsp;негосударственных медицинских организаций, государственных корпораций (предприятий ОПК России), представителей федеральных органов государственной власти, финансовых институтов развития.
			+e.row.row
				.col-sm-6.col-lg-4
					+sGoalsItem(1, `Научно-клиническое сообщество <br> на базе ведущих медицинских <br> вузов страны`)
				.col-sm-6.col-lg-4
					+sGoalsItem(1, `Экспертный совет АНО «Консорциум <br> «Медицинская техника»`)
				.col-sm-6.col-lg-4
					+sGoalsItem(1, `Регуляторные органы <br> власти РФ`)
				.col-sm-6.col-lg-4
					+sGoalsItem(4, `Учреждения <br> Минпромторга России`)
				.col-sm-6.col-lg-4
					+sGoalsItem(5, `Лизинговые компании России (инструмент реализации политики импортозамещения)`)
				.col-sm-6.col-lg-4
					+sGoalsItem(6, `Индустриальные институты <br> развития`)
				.col-sm-6.col-lg-4
					+sGoalsItem(4, `Учреждения <br> Минпромторга России`)
				.col-sm-6.col-lg-4
					+sGoalsItem(5, `Лизинговые компании России (инструмент реализации политики импортозамещения)`)
				.col-sm-6.col-lg-4
					+sGoalsItem(6, `Индустриальные институты <br> развития`)

			+listBlock(``, `Задачи Индустриального центра компетенций`)
				ul
					li Содействие усовершенствованию сферы обращения отечественных медицинских изделий
					li Формирование и&nbsp;подготовка передовых и&nbsp;актуальных предложений по&nbsp;разработке, развитию медицинской промышленности, технологий, логистики и&nbsp;реализации медицинских изделий российского производства
					li Формирование предложений по&nbsp;характеристикам медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения
					li Внесение предложений по&nbsp;стандартизации медицинских изделий, компонентной базы их&nbsp;производства и&nbsp;расходных материалов
					li Создание условий для увеличения доли отечественной медицинской техники и&nbsp;расходных материалов на&nbsp;внутреннем рынке
		.container
			dl
				dt 
					span Что мы делаем
				dd создаем вокруг отечественного производителя экосистему механизмов для продвижения отечественного производителя медицинской техники.
			dl
				dt 
					span Экосистема отечественной медицинской промышленности
				dd Экосистема — это кооперация профессионалов высокого уровня в сфере обращения медицинских изделий, которые сотрудничают для достижения общего отраслевого успеха.
			dl
				dt 
					span Наша стратегия
				dd внедрение в практику деятельности предприятий, комплекса компетенций по развитию и управлению производством в сфере обращения медицинских изделий, а также содействие в создании долгосрочной программы развития производства отечественных медицинских изделий.
			dl
				dt 
					span Область компетенций
				dd Область компетенций: организация взаимодействия с врачебным и клиническим сообществом, государственными регуляторами, организация экспертизы и контроля качества оказания медицинской помощи, разработка стратегии выхода на рынок, дистрибьюция, подбор индустриальных площадок в регионах Российской Федерации, индивидуальная разработка финансовой карты долгосрочного финансирования проекта, оценка сильных и слабых сторон инвестиционных программ, организация экспорта
	// end sIndustrialPartner