mixin sIndustrialPartner(data)
	// start sIndustrialPartner
	+b.SECTION.sIndustrialPartner.section#sIndustrialPartner&attributes(attributes)
		.container
			+section-title(``, `Индустриальный партнер для отечественных производителей медицинской техники`)
				+e.descr Объединяет на&nbsp;своей площадке отечественных разработчиков и&nbsp;производителей медицинской техники, представителей врачебного и&nbsp;клинического сообщества на&nbsp;базе государственных и&nbsp;негосударственных медицинских организаций, государственных корпораций (предприятий ОПК России), представителей федеральных органов государственной власти, финансовых институтов развития.
			+e.row.row
				.col-sm-6.col-lg-4
					+sGoalsItem(1, `Научно-клиническое сообщество <br> на базе ведущих медицинских <br> вузов страны`)
				.col-sm-6.col-lg-4
					+sGoalsItem(2, `Экспертный совет АНО «Консорциум <br> «Медицинская техника»`)
				.col-sm-6.col-lg-4
					+sGoalsItem(3, `Регуляторные органы <br> власти РФ`)
				.col-sm-6.col-lg-4
					+sGoalsItem(4, `Учреждения <br> Минпромторга России`)
				.col-sm-6.col-lg-4
					+sGoalsItem(5, `Лизинговые компании России (инструмент реализации политики импортозамещения)`)
				.col-sm-6.col-lg-4
					+sGoalsItem(6, `Индустриальные институты <br> развития`)
				.col-sm-6.col-lg-4
					+sGoalsItem(4, `Учреждения <br> Минпромторга России`)
				.col-sm-6.col-lg-4
					+sGoalsItem(5, `Лизинговые компании России (инструмент реализации политики импортозамещения)`)
				.col-sm-6.col-lg-4
					+sGoalsItem(6, `Индустриальные институты <br> развития`)
				

	// end sIndustrialPartner