mixin sNotice(data)
	// start sNotice
	+b.SECTION.sNotice.section#sNotice&attributes(attributes)
		.container
			+section-title(`Анонсы`, `Новости и&nbsp;мероприятия`)
			+e.row.row
				.col-sm-6.col-lg-4
					+newsItem('newsItem-1.jpg', `Консорциум &laquo;Медицинская техника&raquo; принял участие в&nbsp;международном конгрессе &laquo;Оргздрав-2022&raquo;`)
				.col-sm-6.col-lg-4
					+newsItem('newsItem-2.jpg', `Открыта регистрация на&nbsp;Саммит дизайн-центров <br> электроники-2023`)
				.col-sm-6.col-lg-4
					+newsItem('newsItem-3.jpg', `Бальная система оценивания локализации производства будет расширена на медицинское оборудование`)
			+e.btn.btn.btn-primary(href="#") Пресс-центр
	// end sNotice