mixin sRoles(data)
	// start sRoles
	+b.SECTION.sRoles.section#sRoles&attributes(attributes)
		.container
			+section-title(``, `Роли участников проекта`)
			+e.wrap
				+listBlock(`Заказчик/ <br> учреждение системы здравоохранения`).pt-0
					ul
						li Разработка и&nbsp;формирование МТТ и&nbsp;ТЗ для проведения конкурсных процедур;
						li Обеспечение финансирования для оплаты лизинговых платежей;
						li Обеспечение строительной готовности подведомственных медицинских учреждений;
						li Участие в&nbsp;разработкеи формирование МТТ и&nbsp;ТЗ для проведения конкурсных процедур;
						li Получение финансирования для оплаты лизинговых платежей;
						li Осуществление лизинговых платежей;
						li Получение оборудования с&nbsp;его последующей передачей
				+listBlock(`АНО «КМТ»`)
					ul
						li Участие в&nbsp;качестве экспертной организации в&nbsp;формировании МТТ (совместно с&nbsp;заказчиком/учреждением системы здравоохранения);
						li Участие в&nbsp;качестве экспертной организации в&nbsp;процедуре выбора поставщиков/ производителей медицинского оборудования, а&nbsp;также поставщиков услуг сервисного обслуживания с&nbsp;целью определения необходимых критериев к&nbsp;предмету поставки/оказанию услуги, а&nbsp;также МТТ
				+listBlock(`Мипромторг России`)
					ul
						li Предоставление поддержки в&nbsp;виде субсидий на&nbsp;приобретение оборудования производства Российской Федерации (в&nbsp;размере&nbsp;35% от&nbsp;стоимости приобретаемого оборудования) и&nbsp;ставки по&nbsp;привлекаемому кредитному финансированию (в&nbsp;размере&nbsp;90% ключевой ставки ЦБ&nbsp;РФ);
				+listBlock(`Лизинговая компания`, ``, `или ее дочернее общество`)
					ul
						li Привлечение средств для финансирования закупки оборудования и&nbsp;последующего сервисного обслуживания;
						li Предоставление услуги лизинга оборудования;
						li Функция единственного поставщика оборудования и&nbsp;сервисного обслуживания;
						li Привлечение экспертных организаций для организации конкурсных процедур;
						li Проведение конкурсных процедур;
						li Заключение договора страхования оборудования в&nbsp;интересах Заказчика
				+listBlock(`Поставщики`)
					ul
						li Поставка оборудования, обеспечение сервисного и&nbsp;гарантийного обслуживания
				+listBlock(`Страховая компания`)
					ul
						li Страхование рисков гибели оборудования и&nbsp;иных рисков проекта
				+listBlock(`Банк`).pb-0
					ul
						li Предоставление в&nbsp;соответствии с&nbsp;утвержденным графиком и&nbsp;условиями, лизинговой компании кредитных средств для финансирования проекта


	// end sRoles