// start .sMeasures
.sMeasures {
	--sPT: #{rem(69)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title {
		h2 {
			// font-family: 'Manrope';
			font-weight: 400;
			font-variation-settings: "wdth" 120, "GRAD" 0, "slnt" 0, "XTRA" 470, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712,
				"YTAS" 750, "YTDE" -203, "YTFI" 738, "opsz" 40;
			line-height: 125%;
			text-transform: none;
			max-width: 26em;
			color: $body-color;
		}
	}
	// &__col {
	// }
	// &__item {
	// }
	&__heading {
		p {
			@include media-breakpoint-up(xl) {
				max-width: 21em;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__title {
		line-height: 0.75;
		text-transform: uppercase;
		color: $primary;
		margin-bottom: rem(18);
		@include rfs(200px, font-size);
		@include media-breakpoint-only(lg) {
			font-size: rem(180);
		}
		@include media-breakpoint-down(sm) {
			font-size: 6rem;
		}
	}
	&__sub {
		font-size: $h5-font-size;
		// color: $primary;
		font-variation-settings: "wdth" 120, "GRAD" 0, "slnt" 0, "XTRA" 470, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712,
			"YTAS" 750, "YTDE" -203, "YTFI" 738, "opsz" 24;
		margin-bottom: rem(16);
	}
	&__content {
		.sMeasures__sub {
			margin-bottom: rem(40);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sMeasures
