// start .sMeasures
.sMeasures {
	--sPT: #{rem(69)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title {
		h2 {
			// font-family: 'Manrope';
			font-weight: 400;
			font-variation-settings: "wdth" 120, "GRAD" 0, "slnt" 0, "XTRA" 470, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712,
				"YTAS" 750, "YTDE" -203, "YTFI" 738, "opsz" 40;
			line-height: 125%;
			text-transform: none;
			max-width: 26em;
			color: $body-color;
		}
	}
	// &__col {
	// }
	// &__item {
	// }
	&__heading {
		p {
			@include media-breakpoint-up(xl) {
				max-width: 21em;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__title {
		line-height: 0.75;
		text-transform: uppercase;
		color: $primary;
		margin-bottom: rem(18);
		@include rfs(200px, font-size);
	}
	&__sub {
		font-size: $h5-font-size;
		// color: $primary;
		font-variation-settings: "wdth" 120, "GRAD" 0, "slnt" 0, "XTRA" 470, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712,
			"YTAS" 750, "YTDE" -203, "YTFI" 738, "opsz" 24;
		margin-bottom: rem(16);
	}
	&__content {
		.sMeasures__sub {
			margin-bottom: rem(40);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sMeasures

.stagesList {
	ol {
		list-style: none;
		counter-reset: num;
		padding-left: 0;
		margin-bottom: 0;
		li {
			position: relative;
			display: flex;
			align-items: center;
			overflow: hidden;
			padding-left: rem(120);
			min-height: rem(100);
			padding-top: rem(18);
			padding-bottom: rem(18);
			border-top: 1px solid $light-primary;
			@include media-breakpoint-up(md) {
				padding-left: rem(166);
				min-height: rem(141);
				padding-top: rem(25);
				padding-bottom: rem(25);
			}
			&:last-child {
				border-bottom: 1px solid $light-primary;
			}
			&:before {
				counter-increment: num;
				content: counter(num);
				position: absolute;
				font-variation-settings: $font-variation-bold;
				font-weight: 766;
				line-height: 1;
				text-transform: uppercase;
				color: $primary;
				opacity: 0.2;
				font-size: rem(120);
				left: rem(17);
				bottom: rem(-27);
				@include media-breakpoint-up(md) {
					font-size: rem(165);
					left: rem(24);
					bottom: rem(-38);
				}
			}
			p {
				margin-bottom: 0;
				max-width: 32.5em;
				@include media-breakpoint-down(md) {
					font-size: rem(16);
				}
			}
			&.active {
				// padding-left: rem(24);
				border-top: 2px solid $primary;
				border-bottom: 2px solid $primary;
				min-height: rem(150);
				padding-left: rem(136);
				@include media-breakpoint-up(md) {
					min-height: rem(208);
					padding-left: rem(189);
				}
				&:before {
					@include a-cent1(y);
					opacity: 1;
				}
				p {
					font-size: $h5-font-size;
					font-weight: 500;
					line-height: 125%;
					max-width: 26.1em;
				}
				& + li {
					border-top: none;
				}
			}
		}
	}
}
