mixin sMeasures(data)
	// start sMeasures
	+b.SECTION.sMeasures.section#sMeasures&attributes(attributes)
		.container
			.section-title
				h2 АНО &laquo;Консорциум &laquo;Медицинская техника&raquo; образован по&nbsp;инициативе Минпромторга России
			+e.row.row
				.col-lg-5
					+e.heading
						+e.title.fvb 235
						+e.sub.text-primary отечественных предприятий
						p включает в&nbsp;себя всю номенклатурную классификацию видов медицинских изделий
				.col-lg-7
					+e.content
						+e.sub Реализация Минпромторгом России комплекса мер государственной поддержки совместно с&nbsp;АНО &laquo;КМТ&raquo;:
						+stagesList()

	// end sMeasures