mixin sMeasures(data)
	// start sMeasures
	+b.SECTION.sMeasures.section#sMeasures&attributes(attributes)
		.container
			.section-title
				h2 АНО &laquo;Консорциум &laquo;Медицинская техника&raquo; образован по&nbsp;инициативе Минпромторга России
			+e.row.row
				.col
					+e.heading
						+e.title.fvb 235
						+e.sub.text-primary отечественных предприятий
						p включает в&nbsp;себя всю номенклатурную классификацию видов медицинских изделий
				.col-xl-7
					+e.content
						+e.sub Реализация Минпромторгом России комплекса мер государственной поддержки совместно с&nbsp;АНО &laquo;КМТ&raquo;:
						+b.stagesList
							ol
								li 
									p обеспечение устойчивого развития отечественной производственной инфраструктуры
								li 
									p субсидирование закупки медицинского оборудования российского производства в размере 35% (годовой платеж по лизинговой ставке не более 4,5%)
								li.active
									p закупка медицинского оборудования ниже рыночной цены
								li 
									p финансирование приобретаемого оборудования в рассрочку на весь срок реализации проекта с учетом сервиса
								li 
									p реализация проекта обеспечит значительную экономию бюджетных средств
								li 
									p общий срок реализации <br> проекта до 10 лет
								

	// end sMeasures